p{
font: normal normal bold 40px/58px Sitka Banner;
letter-spacing: 0px;
color: #086288;
font-size: 26px;
}
@media only screen and (max-width: 1000px) {
p{
  font-size: 20px;
  }
  }

input::placeholder{
  color:#086288 ;
}
.mb-3:focus + .form-label {
  color: red;
} 

 Container{
  color:#086288 ;

 }


#button1{
  margin-top: 60px;
  color: white;
  background-color:#ffa408;
  border: 1px solid #FFC008 ;
  border-radius: 4px;
  padding: 6px 8px;
  cursor: pointer;
}


.btn1{
  float: right;
  color: white;
  background-color:#ffa408;
  border: 1px solid #FFC008 ;
  border-radius: 4px;
  padding: 6px 8px;
  cursor: pointer;
}
.FloatingLabel:focus::-webkit-input-label {
  color: red;
}
.form-control:focus {
  border-color: #086288;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.form-select:focus{
  border-color: #086288c4;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
}

@media only screen and (max-width: 1000px) {
  #button1 {
    float: right;
    margin:0 px;
  }
  #button1{
    margin-top: 0px;
  }
}

#Floating-label1{
  width: 90px;
}
#Floating-label2{
  width: 100px;
  height: auto;
  
}

@media only screen and (max-width: 900px) {
  #Floating-label1{
    width: 100%;
  }
  }
  @media only screen and (max-width: 900px) {
    #Floating-label2{
      width: 100%;
    }
    }

    #date1{
      width: 100px
    }
    @media only screen and (max-width: 1000px) {
      #date1{
        width: 100%;
      }
      }
      #date2{
        width: 100px
      }
      @media only screen and (max-width: 1000px) {
        #date2{
          width: 100%;
        }
        }

        #NavLevel{
          width: 88px;
        }
        @media only screen and (max-width: 1000px) {
          #NavLevel{
            width:auto;
          }
          }
      
     
      #NavButton
      {
        color: white;
        background-color:#ffa408;
        border: 1px solid #FFC008 ;
        border-radius: 4px;
        margin-left: 3px;
      }
      
      
      input[type=date]:invalid+span:after {
        content:"Birthday";
        position:absolute;
        left:0;
        top:0;
      }
      
      input[type=date]:focus:invalid+span:after {
        display:none;
      }
      
      input:not(:focus):invalid {
        color:transparent;
      }
      
      label.wrapper {
        position:relative;
      }


      #Navbaralign
      {
        margin-left: 50px;
        margin-right: 60px;
      }
      
      @media only screen and (max-width: 1000px) {
        #Navbaralign
      {
        margin-left: auto;
        margin-right: auto;
      }
      }
      